.buy-ticket-in-ticket-box {
  .seat-list {
    .screen {
      background-color: #c6c6c6;
      max-width: 560px;
      height: 20px;
      margin: 0 auto;
      border-radius: 3px;
      box-shadow: 0 8px 35px 4px gray;
      font-size: 14px;
      font-family: Klavika-Bold;
    }
    .entrance {
      position: relative;
      max-width: 560px;
      margin: 10px auto;
      height: 40px;
      .entrance-img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .btnWay {
      background-color: gray;
      color: white;
      margin: 0 6px;
      margin: 4px;
      width: 24px;
      height: 32px;
      font-size: 13px;
      padding: 0;
    }
  }
  .btn-note {
    width: 32px;
    height: 32px;
    &:focus {
      box-shadow: none;
    }
  }
  .thead1 {
    background-color: #dc3545;
    color: white;
  }
  .btnNextStep {
    background-color: #f3751f;
    color: white;
    border-radius: 0px;
    transition: 0.3s;
    margin: 13px 2px;
    font-size: 21px;
    font-weight: bold;
    &:hover {
      background-color: #5aaf82;
      transition: 0.3s;
    }
  }
  .btnPrevStep {
    background-color: #df0d79;
    color: white;
    border-radius: 15px 0px 0px 15px;
    transition: 0.5s;
    margin: 13px 2px;
    font-size: 21px;
    font-weight: bold;
    &:hover {
      background-color: #5aaf82;
      transition: 0.3s;
    }
  }
  .btnPay {
    background-color: #df0d79;
    color: white;
    border-radius: 0px 15px 15px 0px;
    transition: 0.5s;
    margin: 13px 2px;
    font-size: 21px;
    font-weight: bold;
    &:hover {
      background-color: #5aaf82;
      transition: 0.3s;
    }
  }
  .buy-ticket-info {
    color: rgba(220, 220, 220);
    .card {
      background-color: transparent;
      box-shadow: 0 0 20px 1px gray;
      max-width: 540px;
      padding: 5px;
      border-radius: 15px;
      .card-body {
        padding: 3px;
        .card-title {
          margin: 0;
        }
        .card-text {
          margin: 0;
          line-height: 25px;
          font-size: 16px;
          transition: all 0.3s;
          span {
            font-family: Klavika-Bold;
            color: #0DE8E5;
            font-size: 21px;
          }
        }
        .card-2d {
          margin: 0;
          transition: all 0.3s;
        }
      }
      .card-img {
        margin: 5px;
        width: 67px;
        border-radius: 7px;
      }
    }
    .result{
      background-color: transparent;
      box-shadow: 0 0 20px 1px gray;
      max-width: 540px;
      padding: 15px;
      border-radius: 15px;
      .result-content{
        span{
          font-family: Klavika-Bold;
          color: #0DE8E5;
          font-size: 32px;
        }
      }
    }
    .btn-continue{
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 21px;
      border-radius: 7px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
