.homeTools {
  position: absolute;
  display: block;
  max-width: 965px;
  width: 100%;
  left: 50%;
  bottom: -11%;
  transform: translate(-50%, -50%);
  background-image: url("https://haonguyencix.github.io/pattern.png");
  background-size: cover;
  border: 5px solid rgba(0, 0, 0);
  border-radius: 15px;
  z-index: 1000;
  padding-top: 12px;
  box-shadow: 0 1px 26px 2px black inset;
  .buySelect {
    width: 94%;
    margin: 0 auto;
    .select-form {
      width: 22%;
      margin: 0 auto;
      .select-label {
        color: black;
        font-family: Klavika-Bold;
        font-size: 24px;
      }
    }
  }
}
