.card {
  border-radius: 15px;
  padding: 0;
  max-width: 99%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    .img {
      box-shadow: 0 0 10px 2px gray;
    }
    .card-text {
      opacity: 0.5;
    }
    .card-2d {
      opacity: 0.5;
    }
  }
  .film {
    .img {
      border-radius: 10px;
      transition: all 0.3s;
    }
    .card-body {
      padding: 0;
      letter-spacing: -0.5px;
      .card-title {
        margin: 0;
      }
      .card-text {
        margin: 0;
        line-height: 25px;
        font-size: 14px;
        transition: all 0.3s;
        color: rgba(190, 190, 190);
      }
      .card-2d {
        margin: 0;
        transition: all 0.3s;
      }
      .showtime {
        font-size: 24px;
        letter-spacing: -1.5px;
        color: #0DE8E5;
        transition: color 0.5s;
        font-weight: 400;
        &:hover {
          color: #dc3545;
        }
      }
    }
  }
}