<div class="card" *ngIf="filmShowtime != null">
    <div class="film row no-gutters">
        <div class="col-md-2 text-center">
            <img [src]="film.HinhAnh" class="img" width="67px" height="90px">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{film.TenPhim}}</h5>
                <p class="card-text">129 min - SkyCine 9.6 - 8.3 IMDb</p>
                <div class="d-flex">
                    <div class="col-md-1 p-0">
                        <img class="card-2d" src="assets/images/2d.png">
                    </div>
                    <div class="col-md-11 d-flex">
                        <ng-container *ngIf="filmShowtime.LichChieu != null">
                            <div class="showtime mr-3" *ngFor="let item of filmShowtime.LichChieu; let i = index"
                                (click)="goToTicketBoxPage(item.MaLichChieu)">
                                <ng-container *ngIf="i === 0">
                                    {{item.NgayChieuGioChieu | date: "hh:mm"}}
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>