<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1 text-left">
                <img src="./assets/images/footer/favicon-large.png" width="90px" height="90px">
            </div>
            <div class="col-md-5 py-1 px-4">
                <h6>MOOVEEK COMPANY</h6>
                <p class="m-0 footer-text">Số ĐKKD: 0315367026 · Nơi cấp: Sở kế hoạch và đầu tư Tp. Hồ Chí Minh </p>
                <p class="m-0 footer-text">Địa chỉ: 33 Nguyễn Trung Trực, P.5, Q. Bình Thạnh, Tp. Hồ Chí Minh </p>
                <p class="m-0 footer-text">Về chúng tôi · Chính sách & Thỏa thuận · Hỗ trợ · Liên hệ</p>
            </div>
            <div class="col-md-4">
                <h6>PARTNERS</h6>
                <img class="footer-img" src="./assets/images/logoTheatres/bhd-cineplex.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/logoTheatres/cgv.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/logoTheatres/lotte-cinema.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/logoTheatres/galaxy-cinema.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/cinestar.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/mega-gs-cinemas.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/cnx.jpg" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/momo.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/payoo.jpg" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/zalopay_icon.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/STARLIGHT.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/TOUCH.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/VCB.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer./AGRIBANK.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/VIETTINBANK.png" width="30px" height="30px">
                <img class="footer-img" src="./assets/images/footer/laban.png" width="30px" height="30px">
            </div>
            <div class="col-md-2 py-4 text-right">
                <img src="./assets/images/footer/bo-cong-thuong.png" width="130px">
            </div>
        </div>
    </div>
</div>