<!-- Modal -->
<div class="modal modal-trailer fade" id="modal-trailer" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true" (click)="closeTrailer()">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img class="close" data-dismiss="modal" src="./assets/images/lightbox-close.png" alt="">
                <ng-container *ngIf="trailerInModal != ''">
                    <iframe style="border-radius: 15px" width="853" height="480" [src]="trailerInModal | safe"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </ng-container>
            </div>
        </div>
    </div>
</div>