<!--Begin item -->
<div class="showtime-item card">
    <!-- Film image -->
    <div class="filmCard">
        <div class="filmCard_overlay"></div>
        <img class="card-img-top" [src]="showingFilm.HinhAnh" height="300px">
        <div class="filmDetail">
            <ng-container *ngIf="showingFilm.Trailer != '' && showingFilm != null">
                <button class="playTrailer" data-toggle="modal" data-target="#modal-trailer"
                    (click)="clickPlayButton()">
                    <img src="/assets/img/play-video.png">
                </button>
            </ng-container>
        </div>
    </div>
    <!-- Film infomation -->
    <div class="card-body">
        <div class="info">
            <h4 class="info-title text-center">{{showingFilm.TenPhim}}</h4>
            <div class="info-evaluate d-flex">
                <i class="fa fa-star icon-star" *ngFor="let star of fullStarArr"></i>
                <i class="fa fa-star-o icon-star" *ngFor="let star of emptyStarArr"></i>
            </div>
        </div>
        <!-- Go to showing film details page -->
        <button mat-button class="btn btn-danger btn-buyTicket w-100" (click)="goToShowingFilmDetailsPage()">
            Buy ticket
        </button>
    </div>
</div>
<!-- End item -->