.info-in-detail-page {
  color: rgba(220, 220, 220);
  border-radius: 20px;
  box-shadow: 0 0 30px 2px gray;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .icon-star {
    color: #dc3545;
    font-size: 21px;
  }
}
